@charset "utf-8";
/* CSS Document */


#moviesIn { border-bottom: 1px solid #000; }
#moviesIn > h1 { display: inline-block; }
#moviesIn .year { margin-left: 10px;}
#moviesIn .om { margin-bottom:20px; }

#searchLista >h1 { display: inline-block; }
#searchLista .year { margin-left: 10px;}

img.floatLeft { 
    float: left;
	margin-right:20px;
	margin-left:10px;
	margin-bottom:20px;
}

li{
	list-style:none;
}

.info{
	margin-bottom:20px;
	min-height:100px;
}
.liknande{
	display:block;
}

p{
	font-size:12px;
}
p .in{
	float:left;
}